.feedwidgets__news {
    position: sticky;
    margin-top:10px;
    margin: 10px;
    margin-left: auto;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 300px;
    outline: 1px solid gainsboro;
}

.feedwidgets__news > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.infoicon {
    margin: 0.8rem !important;
    width: 15px !important;
    height: 15px !important;

    cursor: pointer;
}

.feedwidgets__news h4 {
    margin-left: 1rem;
    margin-top: 1rem;
    font-weight: 500;
}

.feedwidgets__news h5 {
    color: rgb(92, 92, 92);
    font-size: 0.9rem;
    font-weight: 500;
}

.feedwidgets__news li {
    margin: 10px 0;
}

.feedwidgets__news li > p {
    color: var(--color-text-mute);
    font-size: 0.8rem;
    margin-top: 2px;
}

.feedwidgets__footer {
    position: sticky;
    top: 75px;

    width: 250px;
    justify-content: center;
    color: var(--color-text-mute);
    font-size: smaller;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
}

.feedwidgets__footer > a {
    margin: 5px;
    cursor: pointer;
    color: var(--color-text-mute);
    text-decoration: none;
}

.feedwidgets__footer > a:hover {
    color: var(--color-main);
    text-decoration: underline;
}

@media (max-width: 1200px) {
    .feedwidgets {
        display: none;
    }
}
