.headeroption {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: gray;
    cursor: pointer;
    font-size: 0.75rem;
    white-space: nowrap;
}

.headeroption:hover {
    color: black;
}

